<!doctype html>
<html>

<head>
  <title>Channels</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/channels.css') }}">
    <script src="{{ url_for('static', filename='home/script.js') }}"></script>
</head>

<body>
  <h1>Channels</h1>
  <!-- <hr /> -->
    <div class="channels">

  {% for channel in channels %}
  <a href="/tvshows/{{channel.name}}/{{channel.pageUrl}}">{{channel.id}}. {{channel.name}}
  <br>
  <img src="{{channel.logoUrl}}" alt="{{channel.name}} height="100" width="100">
  <br>
  </a>
  {% endfor %}
        </div>

</body>

</html>
