<!doctype html>
<html>

<head>
  <title>Episodes</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      const pageText = document.getElementById("page").innerText;
      const previousBtn = document.getElementById("previous");
      const nextBtn = document.getElementById("next");
      
      // Extract the number from "Current Page: X"
      const page = parseInt(pageText.replace("Current Page:", "").trim(), 10);


      if (page === 1) {
          previousBtn.disabled = true;
      }

      nextBtn.addEventListener("click", function () {
        console.log(page)
        const params = new URLSearchParams(window.location.search);
        params.set("page", page + 1);
        window.location.search = params.toString();
      });

      previousBtn.addEventListener("click", function () {
        console.log(page)
        const params = new URLSearchParams(window.location.search);
        params.set("page", page - 1);
        window.location.search = params.toString();
      });
    });

    


    </script>
</head>

<body>
  <h1>Episodes</h1>
  <hr />
  {% for episode in episodes %}
  <h3>{{episode.title}}</h3>
  <h4>{{episode.date}}</h4>
  <img src="{{episode.thumbnail}}" alt="{{episode.title}} height="100" width="100">
  <br>
  <a href="/cast/Living Room TV?thumbnail={{episode.thumbnail}}&date={{episode.date}}&title={{episode.title}}&contentUrl={{episode.contentUrl}}">Living Room TV</a>
  <a href="/cast/Sofa Room TV?thumbnail={{episode.thumbnail}}&date={{episode.date}}&title={{episode.title}}&contentUrl={{episode.contentUrl}}">Living Room TV</a>
  {% endfor %}
    <h3 id="page">Current Page: {{ page }}</h3>
    <button id="previous" type="button">Previous Page</button>
    <button id="next" type="button">Next Page</button>
</body>

</html>
